# 1.Librerias

In [4]:

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
#from wordcloud import WordCloud

# 2.Datos

In [6]:
train = pd.read_csv('./data/train/train.csv')
color_labels=pd.read_csv('./data/color_labels.csv')
samples=pd.read_csv('./data/test/sample_submission.csv')

# 3.Analisìs Basico

In [14]:
print("Train - Filas y Columnas: ",train.shape)
print("Color Labels - Filas y Columnas: ",color_labels.shape)
print("Samples - Filas y Columnas: ",samples.shape)

Train - Filas y Columnas:  (14993, 24)
Color Labels - Filas y Columnas:  (7, 2)
Samples - Filas y Columnas:  (3972, 2)

### 3.1 Train Head

In [17]:
train.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2

### 3.2 Color Labels

In [18]:
color_labels.head()

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream

# 4. Analisis Exploratorio

La idea es usar herramientas estadisticas y de visualizacion  para:
    * Crear un mapa mental del set de datos (entenderlo)ç
    * Empezar a encontrar respuestas a la pregunta xxx

**Lo voy a plantear en 3 fases:**

1. Analisis de cada variable de manera individual
2. Analisis univariado: relacion de cada variable predictora con la variable a predecir.
3. Analisis bivariado: relacion de pares de variables predictoras con la variable a predecir.

## 4.1  Analisis de cada variable de manera individual

Nos permite entender las caracteristicas generales de cada variable de nuestro set de datos

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14993 non-null  int64
 1   Name           13728 non-null  object
 2   Age            14993 non-null  int64
 3   Breed1         14993 non-null  int64
 4   Breed2         14993 non-null  int64
 5   Gender         14993 non-null  int64
 6   Color1         14993 non-null  int64
 7   Color2         14993 non-null  int64
 8   Color3         14993 non-null  int64
 9   MaturitySize   14993 non-null  int64
 10  FurLength      14993 non-null  int64
 11  Vaccinated     14993 non-null  int64
 12  Dewormed       14993 non-null  int64
 13  Sterilized     14993 non-null  int64
 14  Health         14993 non-null  int64
 15  Quantity       14993 non-null  int64
 16  Fee            14993 non-null  int64
 17  State          14993 non-null  int64
 18  RescuerID      14993 non-null  object
 19  VideoAmt       14993 non-null  int64
 20  Description    14980 non-null  object
 21  PetID          14993 non-null  object
 22  PhotoAmt       14993 non-null  float64
 23  AdoptionSpeed  14993 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.7+ MB